<%= simple_form_for @session do |f| %>
<div class="control-group">
  <div class="controls">
    <%= f.input :start_date, :as => :datetime_picker %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.input :end_date, :as => :datetime_picker %>
  </div>
</div>

<%= f.submit nil, :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
activities_path, :class => 'btn' %>
<% end %>
<script>
$('.datetimepicker').datetimepicker({
  pickSeconds: false,
  pick12HourFormat: true
});
</script>
