<div id="forgot-password-page-container">
  <div id="dark-container" class="text-center">
    <h1 style="padding-top:125px">Forgot your password?</h1>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div style="padding-top:25px"><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "Send me reset password instructions", :class => 'btn btn-primary'%></div>
      <% end %>

    </div>
  </div>
