<%= simple_form_for @count do |f| %>
<%= f.input :activity_id, :as => :hidden, :class => 'text_field' %>

<div class="control-group">

  <div class="controls">
    <%= f.input :date, :as => :datetime_picker %>
    <script>
    $('.datetimepicker').datetimepicker({
      pickSeconds: false,
      language: 'en',
      pick12HourFormat: true
    });
    </script>
  </div>
</div>

<%= f.button :submit, :class => 'btn btn-primary' %>
<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
activities_path, :class => 'btn' %>
<% end %>
