<%- model_class = Activity -%>
<div id="activities-page-container">
  <div id="dark-container" class="text-center">
    <h1 style="padding-top:20px; padding-bottom:20px">Your Activities</h1>
    <table class="table table-hover" id="activities-table-container">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%= model_class.human_attribute_name(:type) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
          <% if current_user == activity.user %>
            <tr data-link="<%= activity_path(activity) %>">
              <td><%= activity.name %></td>
              <td><%= activity.created_at.strftime('%b-%d-%Y %l:%M %p') %></td>
              <% if activity.is_count %>
                <td>Count</td>
              <% else %>
                <td>Session</td>
              <% end %>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_activity_path(activity), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            activity_path(activity),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_activity_path do %>
    <div class="lt-btn-primary text-center">
      New Activity
    </div>
    <% end %>

  </div>
</div>
