<!DOCTYPE html>
<html>
<head>
  <title>LifeTapperWeb</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :static => :top, :brand => "LifeTapper", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <% if current_user %>
            <%= menu_item "Activities", activities_path %>
            <%= menu_item "Counts", counts_path %>
            <%= menu_item "Sessions", sessions_path %>
        <% end %>  
    <% end %>

    <%= menu_group :pull => :right do %>
        <% if current_user %>
            <%= menu_item "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= menu_item "Sign up", new_user_registration_path %>
            <%= menu_item "Log in", new_user_session_path %>
        <% end %>
    <% end %>
<% end %>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
